@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.show-image {
  width: 100%;
}

.table-style tr, .table-style td {
  border: 1px solid #eee;
}

.show-image-index {
  width: 200px;
  height: 200px;
}

.line-break {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
}

.wrap-search {
  background-color: #fff6c3;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: 500;
}

.wrap-search i {
  margin-right: 3px;
}

#ulti-bar {
  margin-top: 20px;
}

#ulti-bar .ulti-edit ul.ulti-head {
  display: block;
  padding: 10px;
  color: black;
  background-color: #eaeaea;
  position: relative;
}

#ulti-bar .ulti-edit ul.ulti-head li {
  display: inline-block;
}

#ulti-bar .ulti-edit ul.ulti-head li a {
  color: black;
}

#ulti-bar .ulti-edit ul.ulti-head li ul.ulti-head-dropdown {
  position: absolute;
  list-style: none;
  line-height: 1.5;
  display: none;
  background-color: #eaeaea;
  width: 100%;
  left: 0;
  padding: 10px;
}

#ulti-bar .ulti-edit ul.ulti-head li ul.ulti-head-dropdown li a {
  color: black;
}

#ulti-bar .ulti-edit ul.ulti-head:hover li ul.ulti-head-dropdown {
  display: block;
  z-index: 1;
}

#ulti-bar .ulti-edit ul.ulti-head:hover li ul.ulti-head-dropdown li:hover a {
  color: green;
}

#seo-part h3 {
  display: block;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

#seo-part .content {
  background: white;
  padding: 10px 5px;
  line-height: 1.5;
}

#seo-part .content .show-pattern {
  margin-bottom: 20px;
}

#seo-part .content .show-pattern .title {
  font-size: 18px;
  color: #1a0dab;
}

#seo-part .content .show-pattern .link {
  max-width: 558px;
  color: #006621;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  display: block;
}

#seo-part .content .show-pattern .description {
  overflow: hidden;
  color: #545454;
  line-height: 18px;
  -webkit-line-clamp: 2;
  max-width: 1800px;
  display: block;
}

#seo-part .content ul.error-notice {
  list-style: none;
  padding: 5px 0;
  display: none;
}

#seo-part .content ul.error-notice li {
  font-style: italic;
}

#seo-part .content ul.error-notice li.right {
  color: green;
}

#seo-part .content ul.error-notice li.wrong {
  color: red;
}

#seo-part .content ul.error-notice li.near {
  color: orange;
}

.category-info {
  background-color: white;
  height: 200px;
  margin-top: 10px;
  overflow: scroll;
}

.category-info .check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: inherit !important;
}

.category-info .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.category-info .check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.category-info .check-container:hover input ~ .check-mark {
  background-color: #ccc;
}

.category-info .check-container input:checked ~ .check-mark {
  background-color: #2196F3;
}

.category-info .check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.category-info .check-container input:checked ~ .check-mark:after {
  display: block;
}

.category-info .check-container .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-create, #menu-update {
  background-color: white;
}

#menu-create .menu-box-top, #menu-update .menu-box-top {
  border-bottom: 1px solid #eeeeee;
}

#menu-create .menu-box-top h4, #menu-update .menu-box-top h4 {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

#menu-create .menu-box-bottom, #menu-update .menu-box-bottom {
  padding-left: 20px;
  padding-right: 20px;
}

#menu-create .menu-box-bottom input[name="name"], #menu-update .menu-box-bottom input[name="name"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu-create .menu-box-bottom input[name="order"], #menu-update .menu-box-bottom input[name="order"] {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

#menu-create .menu-box-bottom select, #menu-update .menu-box-bottom select {
  width: 100%;
  border-color: #d2d6de;
  margin-bottom: 20px;
}

#menu-create .menu-confirm, #menu-update .menu-confirm {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

#menu-create .menu-confirm .menu-confirm-ok, #menu-update .menu-confirm .menu-confirm-ok {
  background-color: #00c6ff;
  border-color: #00c6ff;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
}

#menu-update {
  display: none;
}

#menu-update .show-error {
  display: none;
  color: red;
}

.blink_me {
  -webkit-animation: blinker 1s linear 3;
          animation: blinker 1s linear 3;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
